<button class="outline-btn" (click)="inAdd = !inAdd"> Créer une nouvelle entrée</button>
<div class="mini-form" *ngIf="inAdd"  [nbSpinner]="loading" nbSpinnerStatus="primary"
nbSpinnerSize="xlarge">
  <div class="form-header">
    <button nbButton status="basic" class="d-block m-auto" (click)="openEntryDialog()">Sélectionner un produit</button>
  </div>
  <div class="mini-presentation container-fluid" *ngIf="selectedProduct">
    <div class="row">
      <div class="left-part">
        <img [src]="selectedProduct.img" alt="">
      </div>
      <div class="right-part">
        <div class="product-name">{{ selectedProduct.title}}</div>
        <div>Prix d'achat : <span class="big-text">{{ selectedProduct.bought_price}} Ar</span></div>
        <div>En stock : <span class="big-text">{{selectedProduct.quantity }} {{selectedProduct.unit}}</span></div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="label">Quantité <span *ngIf="selectedProduct"> en {{ selectedProduct.unit }}</span></div>
    <input type="number" min="0" placeholder="Quantité..." [(ngModel)]="quantity">
  </div>
  <div class="text-center m-b-15" *ngIf="selectedProduct">
    Prix total : <span class="big-text">{{ selectedProduct.bought_price * quantity}} Ar</span>
  </div>
  <button nbButton status="primary" (click)="addEntry()" [disabled]="!selectedProduct || quantity < 1">Terminer</button>
</div>
<div class="container-fluid"  *ngIf="!inAdd">
  <div class="row">
    <div class="col-12">
      <div class="pretty-search">
        <div class="icon-container">
            <nb-icon icon="search-outline"></nb-icon>
        </div>
        <input type="text" placeholder="Rechercher..." (keyup)="updateFilter($event)">
      </div>
    </div>
  </div>
</div>
<ngx-datatable #entryTable class="material" [rows]="rows" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50"
  [rowHeight]="50" [sorts]="sorts" [class.show]="isSidebarShown" [nbSpinner]="loading" nbSpinnerStatus="primary"
  nbSpinnerSize="xlarge" *ngIf="!inAdd">
  <ngx-datatable-column name="Image" [flexGrow]="2">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <img [src]="row.img" alt="">
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Nom du produit" prop="title" [flexGrow]="4">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <strong>{{row.title}}</strong>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Quantité" prop="quantity" [flexGrow]="2">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <strong>{{row.quantity}}</strong>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Prix unitaire" [flexGrow]="3">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <strong>{{row.bought_price}} Ar</strong>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Prix total" prop="totalPrice" [flexGrow]="3">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <strong>{{row.totalPrice}} Ar</strong>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Date d'ajout" prop="addDate" [flexGrow]="3">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.addDate | date: "dd/MM/yyyy hh:mm"}}
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>