<div class="container-fluid setting-container">
    <nb-accordion>
        <nb-accordion-item>
            <nb-accordion-item-header>Unité prix</nb-accordion-item-header>
            <nb-accordion-item-body>
                <div class="d-flex">
                    <div class="form-field">
                        <label for="" nbTooltipStatus="primary">Unité</label>
                        <input type="text" formControlName="barcode" nbInput fullWidth fieldSize="large"
                            placeholder="Ex: Ar">
                    </div>
                    <div class="form-field">
                        <nb-checkbox ></nb-checkbox> <span class="checkbox-label">K-mille</span>
                    </div>
                </div>
                <div class="item-footer pt-2">
                    <button nbButton status="basic">Enregistrer</button>
                </div>
            </nb-accordion-item-body>
        </nb-accordion-item>
    </nb-accordion>
</div>