<p>password-dialog works!</p>
a<div class="i-modal">
    <div class="i-modal-header">
        <nb-icon icon="lock-outline"></nb-icon> Changer mon mot de passe
    </div>
    <div class="i-modal-body">
        <form [formGroup]="passwordsForm">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="relative form-field">
                            <label>Ancien mot de passe</label>
                            <input type="password" formControlName="lastPassword" nbInput fullWidth fieldSize="large"
                                placeholder=".........">
                        </div>
                        <div class="relative form-field">
                            <label>Nouveau mot de passe (au moins 8 caractères)</label>
                            <input type="password" formControlName="password" nbInput fullWidth fieldSize="large"
                                placeholder=".........">
                        </div>                        
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="i-modal-footer" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="xlarge">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 text-center">
                    <button nbButton status="danger" (click)="close()">Annuler</button>
                </div>
                <div class="col-6 text-center">
                    <button nbButton status="primary" (click)="save()"
                        [disabled]="!passwordsForm.valid">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
</div>


<swal
  #successSwal
  title="Terminer"
  text="Votre mot de passe a été changé"
  icon="success"
  (confirm)="close()">
</swal>
<swal
  #errorSwal
  title="Erreur"
  text="Ancien mot de passe incorrecte"
  icon="error"
  (confirm)="passwordsForm.reset()">
</swal>