<div class="detail-card" *ngIf="commande">
    <div class="d-card-header">
        <div class="user-info">
            <img [src]="commande.client.img || 'assets/imgs/logo.png'" alt="">
            <h6>{{ commande.client.name }}</h6>
        </div>
        <div class="date">
            <nb-icon icon="calendar"></nb-icon>
            {{ commande.addDate | date:'short'}}
        </div>
    </div>
    <div class="d-card-body">
        <h6>Produits</h6>
        <table>
            <tr>
                <td>Nom du produit</td>
                <td>Quantité</td>
            </tr>
            <tr *ngFor="let product of commande.products">
                <td><a target="_blank" [routerLink]="'/pages/products/details/' + product.product._id">{{ product.product.name}}</a></td>
                <td>{{ product.quantity }} {{ product.product.unit}}</td>
            </tr>
        </table>
    </div>
    <div class="d-card-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    Prix total:
                    <h6>{{commande.totalPrice}} Ar</h6>
                </div>
                <div class="col-6">
                    Status:
                    <h6>
                        {{statusText[commande.status]}}
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>